---
layout: blog
post: true
---
<header class="post-header">
  <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <p class="post-meta">
    <i class="fa fa-calendar"></i>
    {{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日
    <i class="space"></i>
    <i class="fa fa-tags"></i>
    <a class="post-category" href="/page/category.html#{{ page.categories }}">{{ page.categories }}</a> 
    <link rel="stylesheet" href="/res/css/easybootstrap.css">
  </p>

</header>

    <div class="row">
      {% for book in page.books %}
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">{{ book.title }}</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4 col-xs-12 center">
                  <img src="{{ book.cover }}" alt="cover" class="img-thumbnail">
                </div>
                <br> 
                <div class="col-md-8 col-xs-12 center">
                  <table class="table table-bordered">
                    <tbody>
                      <tr><td style="width:80px;">作者</td><td>{{ book.author }}</td></tr>
                      <tr><td>出版商</td><td>{{ book.publisher }}</td></tr>
                      <tr><td>语言</td><td>{{ book.language }}</td></tr>
                      <tr>
                        <td>链接</td><td>
                        <a href="{{ book.link }}" title="{{ book.link }}">图书链接</a>
                      </td></tr>
                      <tr>
                        <td>状态</td>
                        <td>
                          {% if book.status == '已读' %}
                            <span class="label label-success">{{ book.status }}</span>
                          {% elsif book.status == '在读' %}
                            <span class="label label-info">{{ book.status }}</span>
                          {% elsif book.status == '未读' %}
                            <span class="label label-default">{{ book.status }}</span>
                          {% endif %}
                        </td></tr>
                      <tr><td>评论</td><td>{{ book.description }}</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>  
            </div>
          </div>      
        </div>
      {% endfor %}
    </div>

{% include share.html %}
<div class="pagination">
{% if page.previous %}
<a class="pagination-item newer" href="{{ BASE_PATH }}{{ page.previous.url }}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ page.previous.title }}</a>
{% else %}
<span class="pagination-item newer">上一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
{% endif %}
{% if page.next %}
<a class="pagination-item older" href="{{ BASE_PATH }}{{ page.next.url }}">{{ page.next.title }}&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
{% else %}
<span class="pagination-item older">下一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
{% endif %}
</div>
{% if page.duoshuo != false %}{% include duoshuo.html %}{% endif %}
